@model List<LaboratorioNotas.Models.NotasEstudiantes>
@{
    ViewBag.Title = "NotasEstduiantes";
}

<h2>NotasEstduiantes</h2>

<table class="table table-hover">
    <thead>
        <th>
           id

        </th>
<th>
        Nombre

    </th>
    <th>
        labouno

    </th>
    <th>
       parcialuno

    </th>
    <th>
        labodos

    </th>
    <th>
        parcialdos

    </th>
    <th>
      labotres

    </th>
    <th>
      parcialtres

    </th>
    
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.IdAlumno</td>
                <td>@item.Nombre</td>
                <td>@item.Labouno</td>
                <td>@item.parcialuno</td>
                <td>@item.Labodos</td>
                <td>@item.parcialdos</td>
                <td>@item.Labotres</td>
                <td>@item.parcialtres</td>
                <td>
                    @*@Html.ActionLink("Eliminar", "Delete", new { id = item.IdEmpleado }, new { @class = "btn btn-danger" })*@;  @*esto como que nostros tengamos la etiqueta <a></a>de html pero ubicada acada en razor la cual sirve para hacer una peticion*@


                </td>

            </tr>

            @*@Html.ActionLink("RegistroNotas", "RegistroNotas", new { id = item.IdAlumno })*@ 

}




    </tbody>



</table>
